# .htaccess
# Local: C:\xampp\htdocs\nautilus\

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nautilus/public/

    # Redireciona tudo que não for arquivo real para /public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
