
# .htaccess
# Local: C:\xampp\htdocs\nautilus\

# Bloqueia a listagem de pastas (Segurança: evita que vejam seus arquivos soltos)
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nautilus/

    # 1. Se acessar a raiz (apenas "/nautilus/"), 
    # força a ida para public/index.php internamente.
    RewriteRule ^$ public/index.php [L]

    # 2. Se não for arquivo ou diretório real, manda para public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php?route=$1 [L,QSA]
</IfModule>
